*{margin: 0; padding: 0; box-sizing: border-box;}
body {background: rgba(45,137,239,0.7);}
.site_color{color: rgb(22,136,200);}
/*Navigation and site structure*/
.wrapper {
    display: flex;
    position: relative;
}
.wrapper .sidebar{
    position: fixed; 
    width:250px; 
    height: 100%; 
    background: rgb(22,136,200); 
    padding: 30px 0; 
    z-index: 1;
}
.wrapper .sidebar h2{ 
    color:#fff; 
    text-align: center; 
    margin-bottom: 16px;
}
.wrapper .sidebar ul li {
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(225,225,225,0.05);
    transition: ease-out 0.2s;
}
.wrapper .sidebar ul li a{
    padding: 20px;
    color: #e5e5e5;
    display:block;
}
.wrapper .sidebar ul li a .fa{
    width: 25px;
}
.wrapper .sidebar ul li:hover{
    background: rgb(36,121,172);
    transition: ease-in 0.3s;
}
.wrapper .sidebar ul li:hover a{
    color: #ffffff;
    text-decoration: none;
}
.wrapper .main-content {
    width: 100%;
    margin-left: 250px;
}
.active {
    background: rgb(36,121,172);
}
.arrow {
    position: relative;
}
.arrow:before {
    content: '';
    position: absolute;
    top: 20px;
    right: 0;
    border-right: 10px solid #e5e5e5;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
/**END**/

/**Partial Views**/
.base-view {
    background-color: #fff;
    border-radius: 3px;
    padding: 30px 15px;
    margin: 15px;
    min-height:95vh;
}

/*Profile*/
.card-header {
    color: #fff;
    background-color: rgb(22,136,200);
    border: 1px solid #d8d8d8;
    border-bottom: none;
}
.profile-picture-box {
    border: 1px solid #d8d8d8;
    border-top: none;
    text-align: center;
}
.profile-picture-box img{
    height: 200px;
    padding: 5px;
    margin: 28px;
    border: 3px solid #d8d8d8;
    border-radius: 50%
}
.profile-content {
    border: 1px solid #d8d8d8;
    border-top: none;
    padding-top: 15px;
}

.prof-content-size {
    font-size: 13px;
    color: #7f7f7f;
}
/*END*/
/**END**/

/**Works*/
.heading {
    background-color: rgb(22,136,200); 
    color: #fff; 
    text-align: center; 
}
.table-content { 
    overflow-x: auto!important;
}
/**END*/
/**Loader Css*/
.loader {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: rgba(255,255,255,0.5);
    display: none;
}
.loader img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
/**END*/
